header {
    background-color: maroon;
}

body {
    margin: 0;
}

h1  {
    margin: 0;
    padding: 1rem;
    text-align: center;
}

main {
    margin: 10px;
}

th {
    padding: .25rem;
}

.complete {
    background-color: lightgreen;
}