html {
    /* I don't know if it is bootstrap or what but the whole page was not 
    filling in the background color and this is how I got it to stick  */
    background-color: #647FA6;
}

header {
    background-color: #647FA6;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 0px;
    padding: 1rem;
}

body {
    margin: 0;
}

h1  {
    margin: 0;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 1rem;
    background-color: #647FA6;
}

footer {
    background-color: #647FA6;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 0px;
    padding: 1rem;
}

th {
    padding: .25rem;
}

.complete {
    display: inline-block;
    background-color: #F7F7FF;
}

.incomplete {
    display: inline-block;
    background-color: #FFFF88;
}

.task {
    min-width: 200px;
    border: solid 1px black;
    margin: .5rem;
}

.btn-group {
    padding: 10px;
}

.inputBar {
    margin: 0;
    padding: 1rem;
}

#addButton {
    background-color: darkgray;
    color: white;
    
}

.task-words {
    padding: 10px;
    text-align: center;
    color: #647FA6;
}

